:root {
    --primary-color: #5d00ff; 
    --secondary-color: #ff6600;
    --text-color: #333;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    padding-top: 56px;
}

.navbar {
    border-bottom: 3px solid var(--secondary-color);
}
.navbar-brand {
    font-weight: 700;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: background-color 0.3s;
}
.btn-primary:hover {
    background-color: #7b29ff; 
    border-color: #7b29ff;
}

.btn-outline-primary.custom-btn-outline {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary.custom-btn-outline:hover {
    background-color: var(--primary-color);
    color: white;
}

.custom-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
}
.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.custom-card-img {
    height: 200px;
    object-fit: cover;
}


h1, h2, h3 {
    color: var(--primary-color);
    font-weight: 700;
}